name: Headblocks CI

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5
      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          cache: gradle
          java-version: 21
      # - name: Install dependencies
      #  run: bash ./install-dependency.sh ${{ secrets.FILE_ID_CMI_9_8_2_2 }} ${{ secrets.FILE_ID_CMI_LIB_1_5_7_1 }} ${{ secrets.FILE_ID_HOLOEASY }}
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew build