name: HeadBlocks CD

on:
  push:
    tags:
      - '[0-9]+\.[0-9]+\.[0-9]+'
      - '[0-9]+\.[0-9]+\.[0-9]+\-[a-z]+'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 21
      - name: Install dependencies
        run: bash ./install-dependency.sh ${{ secrets.FILE_ID_CMI_9_8_2_2 }} ${{ secrets.FILE_ID_CMI_LIB_1_5_7_1 }} ${{ secrets.FILE_ID_HOLOEASY }}
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle - Compile plugin
        run: ./gradlew clean build -Pcd
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          draft: false
          prerelease: false
      - name: Get the tag version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
      - name: Upload Release Jar
        id: upload-release-jar
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./build/HeadBlocks.jar
          asset_name: HeadBlocks-${{ steps.get_version.outputs.VERSION }}.jar
          asset_content_type: application/java-archive